<footer id="footer-dashboard">
  <ul id="ul-footer-dashboard" class="list-inline">
    <li>
      <strong class="text-white"> +55 (49) 9956-8850 | contatovidasaudavel@gmail.com </strong>
    </li>
    <li>
      <%= link_to t('callcenter1'), help_path, class:'fa fa-support', target: '_blank' %>
    </li>
  </ul>
</footer>
