<footer id="footer-dashboard">
  <ul id="ul-footer-dashboard" class="list-inline">
    <li>
      <strong class="text-white">(49) 9956-8850 | contato@vidasaudavel.com</strong>
    </li>
    <li>
      <a href="/help" target="_blank"><i class="fa fa-support fa-2x"></i> Suporte</a>
    </li>
  </ul>
</footer>
