<section class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
    </li>
    <li>
      <a href="/clinics"> <i class="fa fa-hospital-o"></i> <span>Clínicas</span></a>
    </li>
    <li>
      <a href="/patients"> <i class="fa fa-users"></i> <span>Pacientes</span></a>
    </li>
    <li>
      <a href="/appointments"><i class="fa fa-book"></i> <span>Consultas</span></a>
    </li>
    <li>
      <a href="/diets"><i class="fa fa-cutlery"></i> <span>Dietas</span></a>
    </li>
    <li>
      <a href="/trainings"><i class="fa fa-bullseye"></i> <span>Treinos</span></a>
    </li>
    <li>
      <a href="/ratings"><i class="fa fa-certificate"></i> <span>Avaliações</span></a>
    </li>
    <li>
      <a href="/weighings"><i class="fa fa-building"></i> <span>Pesagens</span></a>
    </li>
    <li>
      <a href="/measurements"><i class="fa fa-arrows-v"></i> <span>Medições</span></a>
    </li>
    <li>
      <a href="/realizations"><i class="fa fa-check-circle"></i> <span>Realizações</span></a>
    </li>
    <li>
      <a href="/compromises"><i class="fa fa-calendar"></i> <span>Agenda</span></a>
    </li>
  </ul>
</section>
