<%= render 'navbarpublic' %>
<div class="page-container">
  <div class="container">
    <ul class="list-inline">
      <li>
        <a href="index.html" target="_blank" title="Home"><i class="fa fa-home fa-2x"></i></a>
      </li
      <li class="lead">
        >
      </li>
      <li>
        <i title="Disciplined Training Sobre" class="fa fa-question-circle fa-2x"></i>
      </li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Sobre</h1>
        <div class="div-content">
          <h1>Disciplined Training</h1>
          <h4 class="line-height">Veja todas as informações sobre o aplicativo do Vida Saudável</h4>
        </div>
      </div>
      <div class="content-section-a">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-4 col-sm-offset-1">
            <img alt="Disciplined Training Logo Smartphone" src="images/cel-phone.png" class="img-responsive" />
          </div>
          <div class="col-xs-5 col-xs-offset-4 col-sm-offset-1">
            <img alt="Disciplined Training Logo Tablet" src="images/tablet.png" class="img-responsive" />
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <div class="panel-body">
              <h4 class="line-height">O Aplicativo Disciplined Training do Sistema Vida Saudável foi desenvolvido com o intuíto de garantir uma comunicação e acompanhamento de qualidade e satisfação entre o personal trainer/nutricionista e seus pacientes sem a necessidade obrigatória de consultas presenciais.</h4>
              <div class="div-content">
                <h1>Recursos Disponíveis</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
              <h2 class="section-heading">Recebimento e Downloads de Dietas</h2>
              <p class="line-height">
                Ao utilizar o aplicativo Disciplined Training você paciente vai receber todas as atualizações de dietas e treinos diretamente no seu celular no exato momento em que seu personal atualiza-la no sistema e poderá baixa-las no formato pdf.
              </p>
            </div>
            <div id="icon-one" class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
              <i class="fa fa-file-pdf-o fa-13x"></i>
            </div>
          </div>
        </div>
        <div class="content-section-a">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-5 ">
                <h2 class="section-heading text-center">Atualização de Medidas</h2
                <p class="line-height">
                  O Paciente pode atualizar em qualquer momento suas medidas corporais para que o seu personal trainer/nutricionista possa acompanhar sua evolução física e clínica.
                </p>
              </div>
              <div class="col-sm-6 col-lg-4 col-lg-offset-2 text-center">
                <i id="icon-two" class="fa fa-refreh fa-13x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="content-section-b">
          <div class="container">
            <div class="row">
              <div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
                <h2 class="section-heading">Agendamento de Consultas</h2>
                <p class="line-height">
                  É possível ao paciente agendar suas futuras consultas diretamente da aplicação sem precisar ligar para o consultório.
                </p>
              </div>
              <div id="icon-one" class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
                <i class="fa fa-calendar fa-13x"></i>
              </div>
            </div>
          </div>
          <div class="content-section-a">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-lg-5 ">
                  <h2 class="section-heading text-center">Sistema de notificações Instantâneas</h2
                  <p class="line-height">
                    Você paciente sempre será avisado em tempo real assim que seu personal trainer/nutricionista incluir alguma dieta/treino ao seu perfil com uma notificação. Além disso, você sempre será lembrado 1 hora antes pelo aplicativo que o horário da sua refeição ou treino está se aproximando.
                  </p>
                </div>
                <div class="col-sm-6 col-lg-4 col-lg-offset-2 text-center">
                  <i id="icon-two" class="fa fa-bell-o fa-13x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-section-b">
          <div class="container">
            <div class="row">
              <div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
                <h2 class="section-heading">Confirmação da Realizações de Treinos</h2>
                <p class="line-height">
                  Junto a notificação do lembrete do horário do treino, você poderá confirmar para o personal/nutricionista se realmente irá realizar ou não atividade marcada, e justificar a sua resposta se necessário.
                </p>
              </div>
              <div id="icon-one" class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
                <i class="fa fa-check-circle fa-13x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="content-section-a">
          <div class="container">
            <div class="row">
              <h1 class="text-center">Não perca tempo... Baixe agora mesmo!</h1>
              <p class="text-center hidden-xs">
                <i class="fa fa-angle-double-down fa-13x"></i>
              </p>
              <a href="#"> <img alt="Google Play Button" src="images/googleplay.png" class="img-responsive col-xs-offset-2 visible-xs"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fixed" class="hidden-xs">
      <a href="#"> <img alt="Google Play Button" src="images/googleplay.png" class="img-responsive"/></a>
    </div>
  </div>
<%= render 'footerpublic' %>
