
<div class="skin-blue sidebar-mini new-height">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1">
          <h1 class="col-xs-offset-1"><i class="fa fa-arrows-v"></i> Editar medição</h1>
          <h4 class="col-xs-offset-1">Edite uma medição para manter as medidas corporais do seu paciente atualizadas.</h4>
          <div class="div-content">
            <div class="panel panel-default col-xs-10 col-xs-offset-1">
                  <%= render 'form' %>
              </div>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
